@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn.woff2);
  font-weight: 200;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Bold.woff2);
  font-weight: 400;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-ExtraBold.woff2);
  font-weight: 500;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Medium.woff2);
  font-weight: 300;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Thin.woff2);
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: vazir-matn;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 70px;
}

.header-container {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

logo img {
  width: 50px;
  height: auto;
}

nav {
  margin-right: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  padding: 6px 11px;
  font-weight: 300;
  position: relative;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  padding: 6px 11px;
  border-radius: 3px;
  transition: 0.3s;
}
.drop-down-menu-container {
  position: absolute;
  top: 100%;
  display: none;
  background-color: #eee;
  border-radius: 7px;
}

.drop-down-menu-li:hover .drop-down-menu-container {
  display: block;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
}
.drop-down-menu li {
  margin: 0;
  padding: 5px 20px;
  margin: 5px 0;
  width: 9rem;
  border-radius: 5px;
  text-emphasis-color: black;
  color: black;
}
.drop-down-menu li:hover {
  background-color: blue;
  margin: 0;
}

.drop-down-menu li a {
  display: block;
}

nav ul li:hover > a {
  color: white;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu-icon {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}

header-btn {
  position: absolute;
  left: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blue;
  border: none;
  outline: 0;
  padding: 11px 8px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

header-btn:hover {
  cursor: pointer;
}

.reg,
.signin {
  padding: 0 8px;
}

.reg:hover,
.signin:hover {
  color: red;
}

/* page-intro */

.page-intro {
  width: 100%;
  height: 25rem;
  background: rgb(51, 164, 161);
  background: linear-gradient(
    90deg,
    rgba(51, 164, 161, 1) 0%,
    rgba(7, 147, 224, 1) 100%
  );
}

.page-intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-intro-right {
  width: 50%;
  height: auto;
}

.page-intro-right h1 {
  font-size: 4rem;
  color: white;
  font-weight: 500;
  padding-top: 2rem;
}

.page-intro-left {
  width: 50%;
}

.page-intro-right-btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 10rem;
}

.page-intro-right-btn {
  background-color: transparent;
  padding: 12px 30px;
  border: 2px solid white;
  border-radius: 3px;
  margin: 5rem 6px;
  color: white;
  font-weight: bold;
  font-family: vazir-matn;
}

.page-intro-right-btn:hover {
  cursor: pointer;
  background-color: slategrey;
}

.page-intro-left img {
  width: 90%;
  height: auto;
}

/* new-products */
.new-products {
  width: 100%;
}

.new-products-container > h3 {
  padding-top: 15px;
  font-weight: 400;
  font-size: large;
}

.new-product-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.new-product-card {
  margin-top: 10px;
  padding: 10px;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-radius: 5px;
}

.new-product-card:hover {
  border: 1px solid lightskyblue;
}

.new-product-card img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
}

.new-product-card-firstLine,
.new-product-card-secondLine {
  margin: 5px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-product-card-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.new-product-card-button button {
  background-color: aquamarine;
  border-radius: 5px;
  width: 90%;
  padding: 11px 0;
  font-family: vazir-matn;
}

.new-product-card-button button:hover {
  cursor: pointer;
  background-color: skyblue;
  outline: none;
}

/* Advertising */
.home-ad {
  width: 100%;
  margin: 10px auto;
  padding: 20px 0;
}

.home-ad-images {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.home-ad-right {
  width: 74%;
}

.home-ad-right img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.home-ad-left {
  width: 24%;
}

.home-ad-left img {
  width: 100%;
  height: 100%;
}

/* most-sales */
.most-sales {
  width: 100%;
  height: auto;
  background-color: skyblue;
  padding: 10px 0;
}

.most-sales h3 {
  margin: 15px;
  padding-top: 15px;
  font-weight: 400;
  font-size: large;
}

.most-sales-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.most-sales-item {
  width: 32%;
  padding: 20px 0;
  border-radius: 5px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.most-sales-item:hover {
  border: 2px solid lightslategray;
}

.most-sales-item > img {
  width: 80%;
  height: 25rem;
  border-radius: 5px;
  outline: none;
}

.most-sales-item-firstrow,
.most-sales-item-secondrow {
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-sales-item-btm {
  width: 80%;
  display: flex;
  align-items: center;
}
.most-sales-item-btm button {
  width: 100%;
  font-family: vazir-matn;
  padding: 11px;
  background-color: green;
  border: none;
  border-radius: 5px;
  outline: none;
}

.most-sales-item-btm button:hover {
  cursor: pointer;
  background-color: greenyellow;
}

/* why-us */
.why-us {
  margin: 20px 0;
  width: 100%;
  height: auto;
}

.why-us-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.why-us-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.why-us-item img {
  width: 60%;
  height: 10rem;
}

.why-us-item p {
  padding: 10px 0;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #213555;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}

.footer-columns-first {
  flex-basis: 28%;
}

.footer-columns-first h3 {
  color: white;
  font-weight: 400;
}

.footer-columns-first p {
  color: white;
  font-weight: 300;
  text-align: justify;
}

.footer-columns-second {
  flex-basis: 20%;
}

.footer-columns-second h3 {
  color: white;
  font-weight: 400;
}

.footer-columns-second li {
  color: white;
  font-weight: 300;
  padding: 5px 10px;
}

.footer-columns-second a {
  color: white;
}

.footer-columns-second a:hover {
  color: red;
}

.footer-columns-third {
  flex-basis: 20%;
}

.footer-columns-third h3 {
  color: white;
  font-weight: 400;
}

.footer-columns-third li {
  color: white;
  font-weight: 300;
  padding: 5px 10px;
  cursor: grab;
}

.footer-columns-third li:hover {
  color: red;
}

.footer-columns-fourth {
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-columns-fourth img {
  width: 70px;
  height: 70px;
  padding: 0 5px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.footer-bottom p {
  color: white;
  font-weight: 300;
}

.footer-bottom-icons img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

.breadcrumbs {
  background-color: #eee;
}

.breadcrumbs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
}

.breadcrumbs-item img {
  width: 20px;
}

.single-page-product {
  width: 100%;
  margin: 20px 0;
}

.single-page-product-details {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.single-page-product-details-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightslategray;
  border-radius: 5px;
}

.single-page-product-details-right-top {
  width: 100%;
}

.single-page-product-details-right-top img {
  width: 70%;
  display: block;
  margin: 10px auto;
  padding: 20px 10px;
  align-content: center;
}

.single-page-product-details-right-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.single-page-product-details-right-bottom img {
  margin: 5px 3px;
  width: 18%;
  padding: 10px 5px;
  border: 2px solid lightsteelblue;
  border-radius: 4px;
}

.single-page-product-details-right-bottom :first-child,
.single-page-product-details-right-bottom :last-child {
  border: none;
  width: 13%;
  margin-left: 0;
  margin-right: 0;
}

.single-page-product-details-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 80px;
}

.single-page-product-details-left-price {
  padding: 20px;
  color: gray;
  font-weight: 300;
}
.single-page-product-details-left-size {
  padding: 20px;
}
.single-page-product-details-left-size p {
  color: gray;
  font-weight: 300;
}

.single-page-product-details-left-size-combo {
  width: 30%;
  height: 2rem;
  padding: 0 15px;
}

.single-page-product-details-left-property {
  padding: 20px;
}

.single-page-product-details-left-property p {
  color: gray;
  padding-right: 20px;
}

.single-page-product-details-left-colors {
  padding: 20px;
}

.color-blue {
  color: blue;
}
.color-red {
  color: red;
}

.single-page-product-details-left-btn {
  padding: 20px;
}

.single-page-product-details-left-btn button {
  width: 30%;
  padding: 8px 20px;
  font-family: vazir-matn;
  cursor: pointer;
  background-color: lightgreen;
  outline: none;
  border-radius: 5px;
  border: none;
}

.single-page-product-details-left-btn button:hover {
  background-color: aquamarine;
  outline: none;
}
/* responsive max width 400px */
@media screen and (max-width: 400px) {
  .container {
    padding: 0 20px;
  }

  /* nav menu */
  .nav-menu {
    display: none;
  }
  header-btn {
    position: absolute;
    left: 1rem;
  }

  /* page-intro */

  .page-intro {
    width: 100%;
    height: auto;
  }

  .page-intro-right {
    width: 100%;
    height: auto;
  }

  .page-intro-right h1 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    padding-top: 2rem;
    text-align: center;
  }

  .page-intro-right-btns {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .page-intro-right-btn {
    padding: 8px 15px;
    margin: 25px 0 50px 10px;
  }

  .page-intro-left {
    width: 0%;
  }

  /* new-product */
  .new-products-container > h3 {
    text-align: center;
  }

  .new-product-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new-product-card {
    width: 90%;
  }

  /* advertising */

  .home-ad-right {
    width: 100%;
  }
  .home-ad-left {
    display: none;
  }

  /* most sales */
  .most-sales h3 {
    text-align: center;
  }

  .most-sales-items {
    flex-direction: column;
    align-items: center;
  }

  .most-sales-item {
    width: 90%;
  }

  /* why us  */
  .why-us-items {
    flex-direction: column;
    align-items: center;
  }

  .why-us-item {
    width: 90%;
  }

  /* footer */
  .footer-columns {
    flex-direction: column;
    padding: 50px 0;
  }

  .footer-columns-second {
    display: none;
  }

  .footer-columns-third {
    margin: 30px 0;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-icons {
    margin-top: 20px;
  }

  .footer-bottom-icons img {
    width: 25px;
    height: 25px;
    padding: 0 5px;
  }

  /* single page */
  .single-page-product-details {
    display: flex;
    flex-direction: column;
  }
  .single-page-product-details-right {
    width: 90%;
    margin: 0 auto;
  }
  .single-page-product-details-left {
    width: 90%;
    padding: 20px 30px;
  }

  .single-page-product-details-left-size-combo {
    width: 50%;
  }

  .single-page-product-details-left-btn button {
    width: 90%;
  }
}

/* responsive max width 800px */
@media screen and ((min-width: 401px) and (max-width: 800px)) {
  .container {
    padding: 0 20px;
  }

  /* nav menu */
  .nav-menu {
    display: none;
  }

  header-btn {
    position: absolute;
    left: 1rem;
  }

  /* page-intro */

  .page-intro {
    width: 100%;
    height: auto;
  }

  .page-intro-right {
    width: 100%;
    height: auto;
  }

  .page-intro-right h1 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    padding-top: 2rem;
    text-align: center;
  }

  .page-intro-right-btns {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .page-intro-right-btn {
    padding: 8px 15px;
    margin: 25px 0 50px 10px;
  }

  .page-intro-left {
    width: 0%;
  }

  /* new-product */
  .new-products-container > h3 {
    text-align: right;
  }

  .new-product-cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    grid-template-rows: auto auto;
  }

  .new-product-card {
    width: 100%;
  }

  /* advertising */

  .home-ad-right {
    width: 100%;
  }
  .home-ad-left {
    display: none;
  }

  /* most sales */
  .most-sales h3 {
    text-align: right;
  }

  .most-sales-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .most-sales-item {
    width: 100%;
  }

  /* why us  */
  .why-us-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .why-us-item {
    width: 90%;
  }

  /* footer */
  .footer-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
  }



  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-icons {
    margin-top: 20px;
  }

  .footer-bottom-icons img {
    width: 25px;
    height: 25px;
    padding: 0 5px;
  }
  
   /* single page */
  .single-page-product-details {
    display: flex;
    flex-direction: column;
  }
  .single-page-product-details-right {
    width: 90%;
    margin: 0 auto;
  }
  .single-page-product-details-left {
    width: 90%;
    padding: 20px 30px;
  }

  .single-page-product-details-left-size-combo {
    width: 50%;
  }

  .single-page-product-details-left-btn button {
    width: 90%;
  }
}

/* responsive max width 1000px */
@media screen and ((min-width: 801px) and (max-width: 1000px)) {
  .container {
    padding: 0 20px;
  }

  /* nav menu */
  .nav-menu {
    display: none;
  }
}
