@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn.woff2);
  font-weight: 200;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Bold.woff2);
  font-weight: 400;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-ExtraBold.woff2);
  font-weight: 500;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Medium.woff2);
  font-weight: 300;
}
@font-face {
  font-family: vazir-matn;
  src: url(../fonts/vazir-matn/Vazirmatn-Thin.woff2);
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: vazir-matn;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  padding: 0 70px;
}

.header-container {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

logo img {
  width: 50px;
  height: auto;
}

nav {
  margin-right: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  padding: 6px 11px;
  font-weight: bold;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  padding: 6px 11px;
  border-radius: 3px;
  transition: 0.3s;
}

nav ul li:hover a {
  color: white;
}

header-btn {
  position: absolute;
  left: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blue;
  border: none;
  outline: 0;
  padding: 11px 8px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

header-btn:hover {
  cursor: pointer;
}

.reg,
.signin {
  padding: 0 8px;
}

.reg:hover,
.signin:hover {
  color: red;
}

/* page-intro */

.page-intro {
  width: 100%;
  height: 25rem;
  background: rgb(51, 164, 161);
  background: linear-gradient(
    90deg,
    rgba(51, 164, 161, 1) 0%,
    rgba(7, 147, 224, 1) 100%
  );
}

.page-intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-intro-right {
  width: 50%;
  height: auto;
}

.page-intro-right h1 {
  font-size: 4rem;
  color: white;
  font-weight: 500;
  padding-top: 2rem;
}

.page-intro-left {
  width: 50%;
}

.page-intro-right-btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 10rem;
}

.page-intro-right-btn {
  background-color: transparent;
  padding: 12px 30px;
  border: 2px solid white;
  border-radius: 3px;
  margin: 5rem 6px;
  color: white;
  font-weight: bold;
  font-family: vazir-matn;
}

.page-intro-right-btn:hover {
  cursor: pointer;
  background-color: slategrey;
}

.page-intro-left img {
  width: 90%;
  height: auto;
  padding: 1rem;
}
